

<div class="pull-right">
    <%= form_tag(platforms_search_path, method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
    <% end %>
    <br/>
</div>
<table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th>Platform</th>
    </tr>
    </thead>
    <tbody>
    <% @platforms.distinct().select(:name).each do |search|%>
        <tr>
        <td><%= link_to search.name, controller: "games", action: "search_by_platform", name: search.name%></td>
        </tr>
    <% end %>
    </tbody>
</table>
      <div class="pull-right">
        <%= paginate @platforms %>
        <%= page_entries_info @platforms %>
      <br/>