<div class="row">
  <div class="col-sm-12">
    <h1>Game List</h1>
  </div>
</div>

<div class="row">
 <div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-body">
    <div class="pull-right">
    <%= form_tag(games_search_path, method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
    <br/>
    </div>


      <%= render "games/game"%>
      <div class="pull-right">
        <%= paginate @games %>
        <%= page_entries_info @games %>
      <br/>
    </div>

    </div>
  </div>
 </div>
</div>




</div>

