<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
    <h2><%= @games.name %></h2>
    <p>
        <strong>Platform: </strong>
        <%= @games.platform.name %>
    </p>
        <p>
        <strong>Year: </strong> 
        <%= @games.year %>
    </p>

    <p>
        <strong>Genre: </strong>
        <%= @games.genre.name %>
    </p>

    <p>
        <strong>Publisher: </strong>
        <%= @games.publisher %>
    </p>

    <p>
        <strong>Developer: </strong>
        <%= @games.developer %>
    </p>

    <p>
        <strong>Rating: </strong>
        <%= @games.rating %>
    </p>

        </div>
       </div>
    </div>
</div>
